<div class="container">
    <div class="menu">
        <div>
            <input type="text" name="filter" [(ngModel)]="filter">
        </div>
        <button class="register" (click)="register()" btn-save>cadastrar</button>
    </div>     
    <div class="table-container">
        <table *ngIf="users">
            <thead>
                <td>Nome</td>
                <td>Idade</td>
                <td>Profissão</td>
                <td>Naturalidade</td>
                <td>Peso</td>
                <td>Data de Nascimento</td>
            </thead>
            <tbody>
                <tr *ngFor="let user of users | filters:filter">
                    <td>{{user.nome}}</td>
                    <td>{{user.idade}}</td>
                    <td>{{user.profissao}}</td>
                    <td>{{user.naturalidade}}</td>
                    <td>{{user.peso}}</td>
                    <td>{{user.nascimento}}</td>
                    <td class="td-btn">
                        <button class="delete" (click)="modal(user.id!)" btn-danger>apagar</button>
                        <button class="edit" [routerLink]="['/edit/update/'+user.id]" btn-info>editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-container invisible" id="modal">
    <div class="modal">
        <h3>Tem certeza que deseja excluir?</h3>
        <div class="btn-group">
            <button class="btn-modal" (click)="modal(0)" btn-info>Cancelar</button>
            <button class="btn-modal" (click)="deleteUser(id)" btn-danger>Sim</button>
        </div>
    </div>
</div>