<img src="assets/images.png" alt="">
<form>
    <div class="form-left">
        <label>Nome</label>
        <input placeholder="Insira seu nome" [(ngModel)]="user.nome" [ngModelOptions]="{standalone: true}">
        <label>Idade</label>
        <input placeholder="Insira sua idade" [(ngModel)]="user.idade" [ngModelOptions]="{standalone: true}">
        <label>Profissão</label>
        <input placeholder="Insira sua profissão" [(ngModel)]="user.profissao" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-right">
        <label>Cidade de nascimento</label>
        <input placeholder="Insira sua naturalidade" [(ngModel)]="user.naturalidade"
            [ngModelOptions]="{standalone: true}">
        <label>Peso</label>
        <input placeholder="Insira seu peso" [(ngModel)]="user.peso" [ngModelOptions]="{standalone: true}">
        <label>Aniversário</label>
        <input placeholder="Insira sua data de nascimento" type="date" [(ngModel)]="user.nascimento"
            [ngModelOptions]="{standalone: true}">
    </div>
</form>